[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gensim = "*"
pandas = "*"
numpy = "*"
keras = "*"
tensorflow = {file = "https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.10.0-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.6"
